* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  display: flex;
}

#picture {
  height: 100vh;
  align-self: flex-start;
}

#mountain {
  height: 100vh;
}

#main {
  background-color: wheat;
  height: 100vh;
  flex: 1;
}